{% extends 'base.html' %}
{% load static %}
{% block title %}カシバラ{% endblock %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>カシバラ</h1>
                    <span class="subheading">カシがバラバラ</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block contents %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for lyric in lyric_list %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'word_cloud:lyric_detail' lyric.pk %}">
                    <h2 class="post-title">{{ lyric.title }}</h2>
                    <h3 class="post-subtitle">{{ lyric.content | truncatechars:20 }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2021
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% empty %}
            <p>歌詞が登録されていません</p>
            {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts
                    →</a></div>
        </div>
    </div>
</div>
{% endblock %}